{% extends 'base.html.twig' %}

{% block title %}Mon CV !{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h1 class="display-2 text-black"><u>Mon CV :</u></h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h2>Jobs de mes rêves :</h2>
            <p class="lead text-white-75 mb-6">Développeur dans le monde du jeux vidéo.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h3>Compétences</h3>        
            <p>
                - Gestion/Création d'un réseau<br> 
                - Programmations en C, Python et Javascript<br> 
                - Création de site web<br> 
                - Accueil des clients<br> 
                - Parle anglais couramment<br>
                - Travail en équipe<br> 
            </p>

            <h3>Formations</h3>
            <p>
                Actuellement : BUT Réseaux et Télécommunication, IUT de Roanne<br> 
                2021-2022 : Bac STAV, Lycée Agricole de Roanne-Chervé<br> 
                2018-2019 : Brevet des collèges mention assez bien
            </p>

            <h3>Expérience professionnelle</h3>
            <p>
                - Exploitant agricole stagiaire, stage dans une ferme en production agricole<br> 
                - Stage vétérinaire<br>
            </p>
        </div>
    </div>
    <div class="text-center row justify-content-md-center">
        <div class="hauteur col col-lg-5 card border-primary mx-1 test ">
            <div class="card-header"><strong>Télécharger mon CV</strong></div>
            <div class="card-body">
                <form method="post" action="/" onsubmit="return validateEmail()">
                    <label for="email">Email</label>
                    <input type="email" name="email" required>
                    <br>
                    <br>
    
                    <label for="motdepasse">Mot de passe</label>
                    <input type="password" id="motdepasse" name="motdepasse" required>
                    <br>
                    <br>
                    <div class="d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary">Télécharger le PDF</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function validateEmail() {
                var emailInput = document.querySelector('input[name="email"]');
                var email = emailInput.value;
                var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    
                if (!emailPattern.test(email)) {
                    alert("Veuillez saisir une adresse e-mail valide.");
                    return false;
                }
                var link = document.createElement('a');
                link.href = "{{ asset('CV_Killian_Loiset.pdf') }}";
                link.download = 'CV_Killian_Loiset.pdf';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
    
                return false;
            }
        </script>
    </div>
    
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <a href="/portfolio" class="btn btn-primary lift">Retourner au Portfolio<i class="fe fe-arrow-right ms-3"></i></a>
            <a href="/contact" class="btn btn-primary lift">Comment Me Contacter ?<i class="fe fe-arrow-right ms-3"></i></a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{% endblock %}