{% extends 'base.html.twig' %}

{% block title %}Mon CV !{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h1 class="display-2 text-black"><u>Mon CV :</u></h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h2>Jobs de mes rêves :</h2>
            <p class="lead text-white-75 mb-6">Développeur dans le monde du jeux vidéo.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h3>Compétences</h3>        
            <p>
                - Gestion/Création d'un réseau<br> 
                - Programmations en C, Python et Javascript<br> 
                - Création de site web<br> 
                - Accueil des clients<br> 
                - Parle anglais couramment<br>
                - Travail en équipe<br> 
            </p>

            <h3>Formations</h3>
            <p>
                Actuellement : BUT Réseaux et Télécommunication, IUT de Roanne<br> 
                2021-2022 : Bac STAV, Lycée Agricole de Roanne-Chervé<br> 
                2018-2019 : Brevet des collèges mention assez bien
            </p>

            <h3>Expérience professionnelle</h3>
            <p>
                - Exploitant agricole stagiaire, stage dans une ferme en production agricole<br> 
                - Stage vétérinaire<br>
            </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form id="fakeForm">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="button" onclick="downloadPDF()">Télécharger</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <a href="/portfolio" class="btn btn-primary lift">Retourner au Portfolio<i class="fe fe-arrow-right ms-3"></i></a>
            <a href="/contact" class="btn btn-primary lift">Comment Me Contacter ?<i class="fe fe-arrow-right ms-3"></i></a>
        </div>
    </div>
</div>

<script>
    function downloadPDF() {
        var isValidForm = document.getElementById('email').value.includes('@');
        if (isValidForm) {
            var link = document.createElement('a');
            link.href = '/template/cv/CV Killian Loiset.pdf';
            link.download = 'Cv Killian Loiset.pdf';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        } else {
            alert('Veuillez entrer une adresse email valide.');
        }
    }
</script>
{% endblock %}

{% block javascripts %}
{% endblock %}