{% extends 'base.html.twig' %}
{% block title %}Home!{% endblock %}
{% block body %}
    <section class="pb-8 pt-7 pb-md-11 pt-md-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-2 text-black">
                        <u>Killian Loiset</u>
                    </h1>
                    <p class="lead text-white-75 mb-6">
                        1st-year student in Bachelor's in Network and Telecommunications
                    </p>
                    <a href="/portfolio" class="btn btn-primary lift">
                        Explore my portfolio
                        <i class="fe fe-arrow-right ms-3"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-8 pt-7 pb-md-11 pt-md-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-0">Personal Information:</h2>
                    <p class="mb-5 text-muted">
                        Hello, my name is Killian Loiset, I am 19 years old, and I am a 1st-year student in the Bachelor's in Network and Telecommunications program in Roanne.
                    </p>
                    <h2 class="mb-0">BUT R&T Program:</h2>
                    <p>
                        The holder of the Bachelor's in Network and Telecommunications must be able to adapt to the specificities of their company. They can create or analyze a specification, develop or choose technical solutions and products. They can also install and set up equipment (networks, application environments, operating systems) and ensure their maintenance. This may involve traditional computer networks, service-integrated networks, mobile networks, and others. Finally, they can represent their company to clients. The graduate can evolve towards leading small teams.
                    </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <h2 class="fw-bold">Interests:</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <img loading="lazy" width="300" src="{{ asset('https://etudestech.com/wp-content/uploads/2021/11/langage-de-programmation-etudes-tech-1536x1024.jpg') }}" />
                        <h2 class="fw-bold">Programming:</h2>
                        <p class="text-start">During my free time, I enjoy programming, developing my bot created in JavaScript, and learning more about computers.</p>
                    </div>
                    <div class="col-lg-4">
                        <img loading="lazy" width="360" src="{{ asset('https://www.slate.fr/sites/default/files/styles/1060x523/public/helena-lopes-459331-unsplash_1_0.jpg') }}" />
                        <h2 class="fw-bold">Friends:</h2>
                        <p class="text-start">I also like spending time with my friends and taking care of the people close to me.</p>
                    </div>
                    <div class="col-lg-4">
                        <img loading="lazy" width="320" src="{{ asset('https://www.dynamique-mag.com/wp-content/uploads/9d6e32508b16895db66315a3ae1b8a4f.jpg') }}" />
                        <h2 class="fw-bold">Learning:</h2>
                        <p class="text-start">I enjoy learning new things, especially in the field of computers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="position-relative">
        <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}