{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
<body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">
            <!-- WELCOME -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8 text-center">

				<!-- Heading -->
				<h1 class="display-2 text-black">
					<u>Killian Loiset</u>
				</h1>

				<!-- Text -->
				<p class="lead text-white-75 mb-6">
					Étudient 1ère année en BUT RT
				</p>

				<!-- Button -->
				<a href="/portfolio" class="btn btn-primary lift">
					Découvrir mon portfolio
					<i class="fe fe-arrow-right ms-3"></i>
				</a>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->

		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
    <!-- ARTICLES -->
<section class="pb-8 pt-7 pb-md-11 pt-md-10">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Heading -->
				<h2 class="mb-0">
					Informations Personnelles :
				</h2>

				<!-- Text -->
				<p class="mb-5 text-muted">
					Bonjour, je m'appelle Killian Loiset, j'ai 19 ans, est je suis en 1ère année de BUT R&T, à Roanne.

				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					La Formation BUT R&T :
				</h2>
<p> Le titulaire du BUT réseaux et télécommunications doit être capable de s'adapter
aux spécificités de son entreprise. Il peut constituer ou analyser un cahier des charges,
élaborer ou choisir des solutions techniques et des produits. Il peut aussi installer et
mettre au point des équipements (réseaux, environnements applicatifs, systèmes
d'exploitation) et assurer leur maintenance. Il peut s'agir de réseaux informatiques
classiques, à intégration de services, mobiles ou autres. Enfin, il peut représenter son
entreprise auprès des clients.
Les débouchés sont nombreux chez les constructeurs d'équipements réseaux,
opérateurs de télécommunications fournisseurs d'accès Internet, dans les entreprises
et les administrations gérant elles-mêmes leurs systèmes d'information et de
communication, chez les installateurs de téléphonie et dans les ESN.
Le diplômé peut évoluer vers l'encadrement de petites équipes. </p>


<!-- Heading -->
				<h2 class="mb-0">
					
				</h2>

				<!-- Text -->
				<p class="mb-5 text-muted">
					
				</p>
				<div class="container">
				<div class="row justify-content-center">
                <h2 class="mb-0">
					
				</h2>

			</div>
		</div>
		<div class="container">
		<div class="row justify-content-center">
		<div class="col-lg-4">
		<h1 class="fw-bold">Loisirs :</h1>
                    </div>
				 <div class="row">

                <div class="col-lg-4">
                    <img loading="lazy" width="300" src="{{ asset('https://etudestech.com/wp-content/uploads/2021/11/langage-de-programmation-etudes-tech-1536x1024.jpg') }}" />
                    <h2 class="fw-bold">Programmer :</h2>
                    <p class="text-start">Durant mes temps libre, j'aime faire de la programmation, développer mon bot que j'ai créer en javascript, est en apprendre plus en informatiques.</p>
                </div>

                <div class="col-lg-4">
                    <img loading="lazy" width="360" src="{{ asset('https://www.slate.fr/sites/default/files/styles/1060x523/public/helena-lopes-459331-unsplash_1_0.jpg') }}" />

                    <h2 class="fw-bold">Mes amis</h2>
                    <p class="text-start">J'aime aussi passez du temps avec mes amis, et prendre soin des personne qui me sont proche.</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4">
                    <img loading="lazy" width="320" src="{{ asset('https://www.dynamique-mag.com/wp-content/uploads/9d6e32508b16895db66315a3ae1b8a4f.jpg') }}" />
                    <h2 class="fw-bold">Apprendre :</h2>
                    <p class="text-start">J'aime apprendre de nouvelles choses, surtout dans tous ce qui concerne l'informatiques.</p>

                </div>
						<a class="card-meta" href="/actualites/lancement-du-site-internet">

							<!-- Divider -->
							<hr class="card-meta-divider">

						</a>

					</div>

				</div>
					</div>
		<!-- / .row -->
        
	</div>
	<!-- / .container -->
</section>
        <!-- SHAPE -->
<div class="position-relative">
	<div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
		<svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
	</div>
</div>

</body>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
